:root {
  /*黑色*/
  --dark-color-1: #E2E2E2;
  --dark-color-2: #C6C6C6;
  --dark-color-3: #ABABAB;
  --dark-color-4: #919191;
  --dark-color-5: #777777;
  --dark-color-6: #5E5E5E;
  --dark-color-7: #474747;
  --dark-color-8: #303030;
  --dark-color-9: #1B1B1B;
  /*灰色*/
  --grey-color-1: #D0E4FF;
  --grey-color-2: #B4C8ED;
  --grey-color-3: #99ADD1;
  --grey-color-4: #7E92B5;
  --grey-color-5: #65789B;
  --grey-color-6: #4C6080;
  --grey-color-7: #334867;
  --grey-color-8: #1B324F;
  --grey-color-9: #021D38;
  /*探索主题*/
  --geek-blue-color-1: #e6f7ff;
  --geek-blue-color-2: #B8E1FF;
  --geek-blue-color-3: #9AC5FF;
  --geek-blue-color-4: #7DAAFF;
  --geek-blue-color-5: #5B8FF9;
  --geek-blue-color-6: #3D76DD;
  --geek-blue-color-7: #085EC0;
  --geek-blue-color-8: #0047A5;
  --geek-blue-color-9: #00318A;
  --geek-blue-color-10: #001D70;
  /*包容、科技、惠普*/
  --daybreak-blue-color-1: #e6f7ff;
  --daybreak-blue-color-2: #bae7ff;
  --daybreak-blue-color-3: #91d5ff;
  --daybreak-blue-color-4: #69c0ff;
  --daybreak-blue-color-5: #40a9ff;
  --daybreak-blue-color-6: #1890ff;
  --daybreak-blue-color-7: #096dd9;
  --daybreak-blue-color-8: #0050b3;
  --daybreak-blue-color-9: #003a8c;
  --daybreak-blue-color-10: #002766;
  /*优雅浪漫*/
  --goiden-purple-color-1: #f9f0ff;
  --goiden-purple-color-2: #efdbff;
  --goiden-purple-color-3: #d3adf7;
  --goiden-purple-color-4: #b37feb;
  --goiden-purple-color-5: #9254de;
  --goiden-purple-color-6: #722ed1;
  --goiden-purple-color-7: #531dab;
  --goiden-purple-color-8: #391085;
  --goiden-purple-color-9: #22075e;
  --goiden-purple-color-10: #120338;
  /*金紫色*/
  --golden-purple-color-1: #f9f0ff;
  --golden-purple-color-2: #FFCCFF;
  --golden-purple-color-3: #EBB0FF;
  --golden-purple-color-4: #CE95F5;
  --golden-purple-color-5: #B27AD8;
  --golden-purple-color-6: #9661BC;
  --golden-purple-color-7: #7B48A1;
  --golden-purple-color-8: #613086;
  --golden-purple-color-9: #48186C;
  --golden-purple-color-10: #2E0054;
  /*法式洋红*/
  --magenta-color-1: #fff0f6;
  --magenta-color-2: #ffd6e7;
  --magenta-color-3: #ffadd2;
  --magenta-color-4: #ff85c0;
  --magenta-color-5: #f759ab;
  --magenta-color-6: #eb2f96;
  --magenta-color-7: #c41d7f;
  --magenta-color-8: #9e1068;
  --magenta-color-9: #780650;
  --magenta-color-10: #520339;

  /*柔和、明亮、温柔，每三个一组*/
  --softness-group-1: #FFFFCC;
  --softness-group-2: #CCFFFF;
  --softness-group-3: #FFCCCC;
  --softness-group-4: #FFCCCC;
  --softness-group-5: #FFFF99;
  --softness-group-6: #CCCCFF;
  --softness-group-7: #FF9966;
  --softness-group-8: #FF6666;
  --softness-group-9: #FFCCCC;
  --softness-group-10: #FFCC99;
  --softness-group-11: #CCFF99;
  --softness-group-12: #CCCCCC;
  --softness-group-13: #FFCCCC;
  --softness-group-14: #CCCCFF;
  --softness-group-15: #CCFFCC;
  --softness-group-16: #CCFFFF;
  --softness-group-17: #CCCCCC;
  --softness-group-18: #CCFF99;
  --softness-group-19: #FFCCCC;
  --softness-group-20: #FFFFFF;
  --softness-group-21: #99CC99;
  --softness-group-22: #99CCCC;
  --softness-group-23: #FFCC99;
  --softness-group-24: #FFCCCC;
  --softness-group-25: #CCCCFF;
  --softness-group-26: #FFCCCC;
  --softness-group-27: #CCFFFF;
  --softness-group-28: #FFCC99;
  --softness-group-29: #FFFFCC;
  --softness-group-30: #99CCCC;
  /*高雅色*/
  --elegant-group-1: #FFCCCC;
  --elegant-group-2: #FFFFFF;
  --elegant-group-3: #993366;
  --elegant-group-4: #CC6699;
  --elegant-group-5: #FFFF00;
  --elegant-group-6: #666699;
  --elegant-group-7: #CC6699;
  --elegant-group-8: #99CC66;
  --elegant-group-9: #663366;
  --elegant-group-10: #FF33CC;
  --elegant-group-11: #CCCC99;
  --elegant-group-12: #663366;
  --elegant-group-13: #CC3399;
  --elegant-group-14: #FFCC99;
  --elegant-group-15: #FF6666;
  --elegant-group-16: #CCCCCC;
  --elegant-group-17: #CC99CC;
  --elegant-group-18: #CC3399;
  --elegant-group-19: #FFCCCC;
  --elegant-group-20: #FF99CC;
  --elegant-group-21: #CCCCFF;
  --elegant-group-22: #CC3399;
  --elegant-group-23: #9933CC;
  --elegant-group-24: #CC99CC;
  --elegant-group-25: #9999CC;
  --elegant-group-26: #FFFFCC;
  --elegant-group-27: #FFCCCC;
  --elegant-group-28: #663366;
  --elegant-group-29: #CCCCCC;
  --elegant-group-30: #CC99CC;
  --elegant-group-31: #FF9999;
  --elegant-group-32: #FFCCCC;
  --elegant-group-33: #FF99CC;
  --elegant-group-34: #996666;
  --elegant-group-35: #CC99CC;
  --elegant-group-36: #FFCCCC;
  --elegant-group-37: #CC9999;
  --elegant-group-38: #CCCCCC;
  --elegant-group-39: #FFCCCC;
  --elegant-group-40: #FF9999;
  --elegant-group-41: #996699;
  --elegant-group-42: #FFCCCC;
  --elegant-group-43: #996699;
  --elegant-group-44: #FFCCCC;
  --elegant-group-45: #CC99CC;
  --elegant-group-46: #CCCC33;
  --elegant-group-47: #FFFF99;
  --elegant-group-48: #CC9933;
  --elegant-group-49: #CC9966;
  --elegant-group-50: #CCCC66;
  --elegant-group-51: #669999;
  --elegant-group-52: #FF9966;
  --elegant-group-53: #996600;
  --elegant-group-54: #CCCC00;
  --elegant-group-55: #CCCC66;
  --elegant-group-56: #660033;
  --elegant-group-57: #CC6600;
  --elegant-group-58: #CCCC00;
  --elegant-group-59: #666600;
  --elegant-group-60: #CCCCFF;
  --elegant-group-61: #CC9933;
  --elegant-group-62: #009999;
  --elegant-group-63: #FFCC33;
  --elegant-group-64: #999966;
  --elegant-group-65: #CCCC99;
  --elegant-group-66: #339999;
  --elegant-group-67: #99CC99;
  --elegant-group-68: #669933;
  --elegant-group-69: #336633;
  --elegant-group-70: #666633;
  --elegant-group-71: #999933;
  --elegant-group-72: #CC9966;
  --elegant-group-73: #660000;
  --elegant-group-74: #CC9900;
  --elegant-group-75: #CCCC99;

  /*九色系*/
  --nine-color-1: #5B8FF9;
  --nine-color-2: #E8684A;
  --nine-color-3: #9270CA;
  --nine-color-4: #269A99;
  --nine-color-5: #BEDED1;
  --nine-color-6: #EFE0B5;
  --nine-color-7: #B5D7E5;
  --nine-color-8: #F4DBC6;
  --nine-color-9: #F2CADA;

  /*十九色系*/
  --nineteen-color-1: #5B8FF9;
  --nineteen-color-2: #E8684A;
  --nineteen-color-3: #9270CA;
  --nineteen-color-4: #269A99;
  --nineteen-color-5: #5AD8A6;
  --nineteen-color-6: #F6BD16;
  --nineteen-color-7: #6DC8EC;
  --nineteen-color-8: #FF9D4D;
  --nineteen-color-9: #FF99C3;
  --nineteen-color-10: #BDD2FD;
  --nineteen-color-11: #BEDED1;
  --nineteen-color-12: #C2C8D5;
  --nineteen-color-13: #EFE0B5;
  --nineteen-color-14: #F6C3B7;
  --nineteen-color-15: #B5D7E5;
  --nineteen-color-16: #D3C6EA;
  --nineteen-color-17: #F4DBC6;
  --nineteen-color-18: #AAD8D8;
  --nineteen-color-19: #F2CADA;
  /*三十六色系*/
  --thirty-six-color-1: #F8D800;
  --thirty-six-color-2: #0396FF;
  --thirty-six-color-3: #EA5455;
  --thirty-six-color-4: #7367F0;
  --thirty-six-color-5: #32CCBC;
  --thirty-six-color-6: #F6416C;
  --thirty-six-color-7: #28C76F;
  --thirty-six-color-8: #9F44D3;
  --thirty-six-color-9: #F55555;
  --thirty-six-color-10: #736EFE;
  --thirty-six-color-11: #E96D71;
  --thirty-six-color-12: #DE4313;
  --thirty-six-color-13: #D939CD;
  --thirty-six-color-14: #4C83FF;
  --thirty-six-color-15: #F072B6;
  --thirty-six-color-16: #C346C2;
  --thirty-six-color-17: #5961F9;
  --thirty-six-color-18: #FD6585;
  --thirty-six-color-19: #465EFB;
  --thirty-six-color-20: #FFC600;
  --thirty-six-color-21: #FA742B;
  --thirty-six-color-22: #5151E5;
  --thirty-six-color-23: #BB4E75;
  --thirty-six-color-24: #FF52E5;
  --thirty-six-color-25: #49C628;
  --thirty-six-color-26: #00EAFF;
  --thirty-six-color-27: #F067B4;
  --thirty-six-color-28: #ff9a9e;
  --thirty-six-color-29: #00f2fe;
  --thirty-six-color-30: #4facfe;
  --thirty-six-color-31: #f093fb;
  --thirty-six-color-32: #6fa3ef;
  --thirty-six-color-33: #bc99c4;
  --thirty-six-color-34: #46c47c;
  --thirty-six-color-35: #f9bb3c;
  --thirty-six-color-36: #e8583d;
  --thirty-six-color-37: #f68e5f;

  /*秋意盎然（Autumn）主题*/
  --theme-autumn-1: #FF6B3B;
  --theme-autumn-2: #626681;
  --theme-autumn-3: #FFC100;
  --theme-autumn-4: #9FB40F;
  --theme-autumn-5: #76523B;
  --theme-autumn-6: #DAD5B5;
  --theme-autumn-7: #0E8E89;
  --theme-autumn-8: #E19348;
  --theme-autumn-9: #F383A2;
  --theme-autumn-10: #247FEA;
  --theme-autumn-11: #2BCB95;
  --theme-autumn-12: #B1ABF4;
  --theme-autumn-13: #1D42C2;
  --theme-autumn-14: #1D9ED1;
  --theme-autumn-15: #D64BC0;
  --theme-autumn-16: #255634;
  --theme-autumn-17: #8CDAE5;
  --theme-autumn-18: #8E283B;
  --theme-autumn-19: #791DC9;
  /*马卡龙（Macaron）主题*/
  --theme-macaron-1: #025DF4;
  --theme-macaron-2: #DB6BCF;
  --theme-macaron-3: #2498D1;
  --theme-macaron-4: #BBBDE6;
  --theme-macaron-5: #4045B2;
  --theme-macaron-6: #21A97A;
  --theme-macaron-7: #FF745A;
  --theme-macaron-8: #007E99;
  --theme-macaron-9: #FFA8A8;
  --theme-macaron-10: #2391FF;
  --theme-macaron-11: #FFC328;
  --theme-macaron-12: #A0DC2C;
  --theme-macaron-13: #946DFF;
  --theme-macaron-14: #626681;
  --theme-macaron-15: #EB4185;
  --theme-macaron-16: #CD8150;
  --theme-macaron-17: #36BCCB;
  --theme-macaron-18: #327039;
  --theme-macaron-19: #803488;
  --theme-macaron-20: #83BC99;
  /*强对比主题 */
  --theme-strong-contrast-2: #FF4500;
  --theme-strong-contrast-3: #1AAF8B;
  --theme-strong-contrast-4: #406C85;
  --theme-strong-contrast-5: #F6BD16;
  --theme-strong-contrast-6: #B40F0F;
  --theme-strong-contrast-7: #2FB8FC;
  --theme-strong-contrast-8: #4435FF;
  --theme-strong-contrast-9: #FF5CA2;
  --theme-strong-contrast-10: #BBE800;
  --theme-strong-contrast-11: #FE8A26;
  --theme-strong-contrast-12: #946DFF;
  --theme-strong-contrast-13: #6C3E00;
  --theme-strong-contrast-14: #6193FF;
  --theme-strong-contrast-15: #FF988E;
  --theme-strong-contrast-16: #36BCCB;
  --theme-strong-contrast-17: #004988;
  --theme-strong-contrast-18: #FFCF9D;
  --theme-strong-contrast-19: #CCDC8A;
  --theme-strong-contrast-20: #8D00A1;
  --theme-strong-contrast-21: #1CC25E;
  /*常用主题 */
  --theme-commonly-use-1: #f6d78d;
  --theme-commonly-use-2: #fb143e;
  --theme-commonly-use-3: #f47f4b;
  --theme-commonly-use-4: #f93679;
  --theme-commonly-use-5: #523f2c;
  --theme-commonly-use-6: #f85438;
  --theme-commonly-use-7: #c186b3;
  --theme-commonly-use-8: #f0b12d;
  --theme-commonly-use-9: #b53e2b;

  /*邻近色顺序色板
  使用两个或以上个色相，通过明度或饱和度渐变，颜色连续而丰富，可产生更多色彩分级，表达更多的连续数值，常用于热力图中的热度变化，通过邻近色相的差异将聚集部分突显出来
  */
  /*Sunset Orange*/
  --sunset-orange-1: #FDEDBE;
  --sunset-orange-2: #FFDF80;
  --sunset-orange-3: #FFCB33;
  --sunset-orange-4: #FFB200;
  --sunset-orange-5: #FF8C00;
  --sunset-orange-6: #FF6500;
  --sunset-orange-7: #E6450F;
  --sunset-orange-8: #B22C00;
  --sunset-orange-9: #661900;
  /*Leaf Yellow*/
  --leaf-yellow-1: #FFEBB0;
  --leaf-yellow-2: #FFDF80;
  --leaf-yellow-3: #FACA3E;
  --leaf-yellow-4: #E6B80B;
  --leaf-yellow-5: #B5AC23;
  --leaf-yellow-6: #6A9A48;
  --leaf-yellow-7: #20876B;
  --leaf-yellow-8: #06746B;
  --leaf-yellow-9: #044E48;
  /*Geek Blue*/
  --geek-blue-1: #D2EDC8;
  --geek-blue-2: #A9DACC;
  --geek-blue-3: #75C6D1;
  --geek-blue-4: #42B3D5;
  --geek-blue-5: #3993C2;
  --geek-blue-6: #3073AE;
  --geek-blue-7: #27539B;
  --geek-blue-8: #1E3388;
  --geek-blue-9: #171E6D;
  /*Golden Purple*/
  --golden-purple-1: #FACDAA;
  --golden-purple-2: #F4A49E;
  --golden-purple-3: #EE7B91;
  --golden-purple-4: #E85285;
  --golden-purple-5: #BE408C;
  --golden-purple-6: #942D93;
  --golden-purple-7: #6A1B9A;
  --golden-purple-8: #56167D;
  --golden-purple-9: #42105F;

}

