<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxgan.common.mappers.BdExpClassesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sxgan.common.entity.ClassesPO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="teacher" property="teacher" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, teacher, start_date, end_date
    </sql>
    <select id="queryAa" resultMap="BaseResultMap">
        select * from school_course
    </select>

</mapper>
